extends ../layout

block content
  main.articles-category
    h1 #{currentCategory.name}
    if (articles.length > 0)
      include ../partials/categories-list
      include articles-prewiev
    else
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
