extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p Это мой блог 👏 для обсуждения событий в мире
    if (articles.length > 0)
      include partials/categories-list.pug
      .main-page__section-flex
        include articles/articles-hot
        include partials/comments-last
      include articles/articles-prewiev
    else
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
